.blog .pagination {
    margin-bottom: 15px;
}

.blog .pagination .page-link {
    color: #4a4c70;
    border-radius: 0;
    border-color: #4a4c70;
}

.blog .pagination .page-link:hover,
.blog .pagination .page-item.active .page-link {
    color: #FDBE33;
    background: #4a4c70;
}

.blog .pagination .disabled .page-link {
    color: #999999;
}
