.containerD{
    width: 100%;
    /* position: absolute;
    margin-top: 1000px; */
}
.donate {
    position: relative;
    width: 100%;
    margin: 15px 0;
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url('./donate.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.donate .donate-content {
    padding: 45px 0 15px 0;
}

.container .donate {
    margin: 90px 0;
}

.container .donate .donate-content {
    padding: 45px 30px 15px 30px;
}

.donate .donate-content .section-header {
    margin-bottom: 30px;
}

.donate .donate-content .section-header h2 {
    color: #ffffff;
}

.donate .donate-text p {
    color: #ffffff;
    font-size: 18px;
    padding-left: 90PX;
    padding-right: 10px;
}
@media (max-width:600px){
    .donate .donate-content .section-header {
        padding-left: 20PX;
        padding-right: 10px;
    }
    .donate .donate-text p {
        font-size: 18px;
        padding-left: 20PX;
        padding-right: 10px;
    } 
}

.donate .donate-form {
    padding: 90px 30px;
    background: transparent;
}

.donate .donate-form .control-group {
    margin-bottom: 15px;
}

.donate .donate-form .form-control {
    height: 60px;
    color: #ffffff;
    padding: 0 15px;
    border-radius: 0;
    border: 1px solid #ffffff;
    background: transparent;
}

.donate .donate-form .form-control::placeholder {
    color: #ffffff;
    opacity: 1;
}

.donate .donate-form .form-control:-ms-input-placeholder,
.donate .donate-form .form-control::-ms-input-placeholder {
    color: #ffffff;
}

.donate .donate-form .btn-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.donate .donate-form .btn.btn-custom {
    padding: 15px 0;
    width: 100%;
    height: 60px;
    color: #ffffff;
    border: 1px solid #ffffff;
    box-shadow: inset 0 0 0 0 #ffffff;
}

.donate .donate-form .btn.btn-custom:hover,
.donate .donate-form .btn.btn-custom.active {
    color: #050505;
    border: 1px solid #ffffff;
    box-shadow: inset 0 0 0 30px #ffffff;
}

